<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
    
    <connectionStrings>
        <add name="LocalDatabase" connectionString="Data Source=Data\LocalDatabase.sdf" />
    </connectionStrings>

    <log4net debug="false"> 
        <root>
            <level value="DEBUG" />
            <appender-ref ref="SQLCEAppender" />
            <appender-ref ref="TraceAppender" />
        </root>
        <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level %logger - %message%newline" />
            </layout>
        </appender>

        <!-- OLD ENTRY: <appender name="SQLCEAppender" type="log4net.Appender.AdoNetAppender">-->
        <appender name="SQLCEAppender" type="Log4NetReusesConnectionStringDemo.CustomLog4NetAdoNetAppender">
            <buffersize>1</buffersize>
            <connectionType value="System.Data.SqlServerCe.SqlCeConnection, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
           
            <!-- OLD ENTRY: <connectionString value="Data Source='Data\LocalDatabase.sdf';" />-->
            <connectionString value="LocalDatabase" />
            
            <commandText value="INSERT INTO Log ([Date],[Level],[Logger],[Message], [Exception]) VALUES (@log_date, @log_level, @logger, @message, @exception)" />
            <parameter>
                <parameterName value="@log_date" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawUtcTimeStampLayout" />
            </parameter>
            <parameter>
                <parameterName value="@log_level" />
                <dbType value="String" />
                <size value="50" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%level" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@logger" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%logger" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@message" />
                <dbType value="String" />
                <size value="4000" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%message" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@exception" />
                <dbType value="String" />
                <size value="2000" />
                <layout type="log4net.Layout.ExceptionLayout" />
            </parameter>
        </appender>
    </log4net>
</configuration>